{
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    ["flow-runtime", {"assert": false, "optInOnly": true}]
  ],
  "presets": [
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        ["flow-runtime", {"assert": false, "optInOnly": true}]
      ]
    },
    "coverage": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        ["flow-runtime", {"assert": false, "optInOnly": true}],
        "istanbul"
      ]
    },
    "es5": {
      "presets": [
        ["env", {"forceAllTransforms": true}],
        "stage-1", "flow"
      ],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        ["flow-runtime", {"assert": false, "optInOnly": true}]
      ]
    },
  }
}
